BasedOnStyle: LLVM
AllowShortIfStatementsOnASingleLine: true
AllowShortLoopsOnASingleLine: true
AllowShortBlocksOnASingleLine: true
AllowAllParametersOfDeclarationOnNextLine: false
AlignAfterOpenBracket: BlockIndent
PointerAlignment: Left
ColumnLimit: 110
BinPackParameters: false
